.header
  .header-top
    .logo
      = link_to root_path do
        = image_tag("material/rider-road-logo.png", class: "rider-road__icon", size: "200x100")
    .search-form
      = form_with url: root_path, local: true, method: :get, class:"search" do |f|
        .search__box
          = f.text_field :keyword, placeholder: "キーワードで検索", class: "search-form"
          %button{type: "submit", class:'search-btn'}
            %i.fas.fa-search.search-btn__icon
  .image-box
    .image-box__contents
      .image-top
        自然の中を走ろう
      .image-bottom
        全国のおすすめツーリングスポット
.contents
  .spot-introduction
    .spot-phrase
      夫婦岩に沈む絶景のサンセットスポット ♪（二見ヶ浦駐車場）
    .spot-prefecture
      福岡県
  .spot-place
    .spot-image 
      =image_tag("spot-images/futamigaura-image.jpg", class: "", size: "800x400")
    .spot-map 
      %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3321.7353756477983!2d130.19396721515335!3d33.638102746887924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541eedd369cea37%3A0xa08c3c6c2b106a45!2z5LqM6KaL44O25rWm6aeQ6LuK5aC0!5e0!3m2!1sja!2sjp!4v1618110056773!5m2!1sja!2sjp", 
       style: "border:0;", tabindex: "0", width: "500"}
  .spot-description
    玄海国定公園内に位置する福岡県糸島市志摩桜井の海岸「二見ヶ浦（ふたみがうら）」。福岡黒田藩二代目藩主の忠之が創建した桜井神社の社地であり、神聖な場所とされます。三重県伊勢市にある二見浦が“朝日の二見浦”と呼ばれるのに対して、糸島のものは“夕日の二見ヶ浦”と呼ばれ、特に夕日の美しさが称えられています。
  .spot-tag 
    ＃福岡県糸島市   ＃夫婦岩   ＃日本の渚百選

.contents
  .spot-introduction
    .spot-phrase
      四季折々に咲き誇る花々が綺麗！（国営ひたち海浜公園）
    .spot-prefecture
      茨城県
  .spot-place
    .spot-image 
      =image_tag("spot-images/hitachikaihinkouen.jpg", class: "", size: "800x400")
    .spot-map 
      %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3211.0228150985804!2d140.58793151521806!3d36.40864329734201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60218b1d845e4441%3A0x767e1dea03e6f0e1!2z5Zu95Za244Gy44Gf44Gh5rW35rWc5YWs5ZyS!5e0!3m2!1sja!2sjp!4v1618114791400!5m2!1sja!2sjp", 
       style: "border:0;", tabindex: "0", width: "500"}
  .spot-description
    花と緑に囲まれた国営ひたち海浜公園は、開園面積約215haの広い園内は7つのエリアに分かれており、自然の中で楽しめるレジャースポットや花畑があります。春にはスイセンやチューリップ、ネモフィラ。夏にはバラ、ジニア、ヒマワリ。秋にはコキアやコスモスと四季折々の草花が、訪れる人々の目を楽しませてくれます。また観覧車やジェットコースターなどのアトラクションもあり、家族でも楽しめます。
  .spot-tag 
    ＃国営ひたち海浜公園   ＃茨城県ひたちなか市   ＃ジェットコースター

.contents
  .spot-introduction
    .spot-phrase
      お土産も充実！東京湾に浮かぶパーキングエリア（海ほたる）
    .spot-prefecture
      千葉県
  .spot-place
    .spot-image 
      =image_tag("spot-images/umihotaru.jpg", class: "", size: "800x400")
    .spot-map 
      %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4014.6383738703653!2d139.8721329115987!3d35.46425621594912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601871c81f4a5c0b%3A0x5ca8c5065c4722ce!2z5rW344G744Gf44KL77yw77yh!5e0!3m2!1sja!2sjp!4v1618115978755!5m2!1sja!2sjp", 
       style: "border:0;", tabindex: "0", width: "500"}
  .spot-description
    東京湾を横断して、都心部と千葉県の房総半島とを結ぶ架け橋「東京湾アクアライン」。その中間に、まるで大きな船のように浮かぶのが「海ほたるパーキングエリア」です。開設当初からパーキングエリアとしての役割だけでなく、観光名所として訪れる人も多かった海ほたるが、2019年4月に大幅リニューアルしました。
  .spot-tag 
    ＃海ほたる   ＃千葉県木更津市   ＃日本夜景遺産 

.contents
  .spot-introduction
    .spot-phrase
      阿蘇の外輪山を巡る大草原（ミルクロード）
    .spot-prefecture
      熊本県
  .spot-place
    .spot-image 
      =image_tag("spot-images/milkroad.jpg", class: "", size: "800x400")
    .spot-map 
      %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.585260218156!2d130.96928901513783!3d32.935554283192126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3540dfd12aae645b%3A0x8958a89a831a4da5!2z54aK5pys55yMIOecjOmBkzMzOeWPtw!5e0!3m2!1sja!2sjp!4v1618165794941!5m2!1sja!2sjp", 
       style: "border:0;", tabindex: "0", width: "500"}
  .spot-description
    阿蘇山の周りに隆起した外輪山の尾根筋を、約45㎞に渡ってトレースするのがミルクロード。名前どおり周辺は牧場が多く、延々と続く草原地に軽快なコーナーと緩やかなアップダウンが続いています。阿蘇連山を見る有名な展望台「大観峰」は絶景です。
  .spot-tag 
    ＃阿蘇山   ＃ミルクロード   ＃大観峰

.contents
  .spot-introduction
    .spot-phrase
      日本有数の人気のワインディングロード!（ビーナスライン）
    .spot-prefecture
      長野県
  .spot-place
    .spot-image 
      =image_tag("spot-images/venus-line.jpg", class: "", size: "800x400")
    .spot-map 
      %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4320.353866654664!2d138.21709467467505!3d36.104503085116384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x601c50db6545a93f%3A0xd1b8a8596b826b51!2z6ZW36YeO55yMIOODk-ODvOODiuOCueODqeOCpOODsw!5e0!3m2!1sja!2sjp!4v1618173019931!5m2!1sja!2sjp", 
       style: "border:0;", tabindex: "0", width: "500"}
  .spot-description
    ビーナスラインは、長野県の茅野市から上田市に至る約70㎞の観光道路。ライダーなら一度は行きたいツーリングロードとして人気です。高原地帯を走るビーナスラインは、視界を遮るものが一切ないから爽快にバイクを走らせることができます。曲がりくねったワインディングロードは、バイクを操縦している感たっぷり。
  .spot-tag 
    ＃長野県上田市   ＃ワインディングロード   ＃美ヶ原高原美術館

.contents
  .spot-introduction
    .spot-phrase
      世界でもレアな砂浜を走れるドライブウェイ！（千里浜なぎさドライブウェイ）
    .spot-prefecture
      石川県
  .spot-place
    .spot-image 
      =image_tag("spot-images/senrinagisa.jpg", class: "", size: "800x400")
    .spot-map 
      %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102144.30631401722!2d136.68827125820314!3d36.8661897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff7660e96e73247%3A0xdd75a596d074820f!2z5Y2D6YeM5rWc44Gq44GO44GV44OJ44Op44Kk44OW44Km44Kn44Kk!5e0!3m2!1sja!2sjp!4v1618174002061!5m2!1sja!2sjp", 
       style: "border:0;", tabindex: "0", width: "500"}
  .spot-description
    石川県にある「千里浜なぎさドライブウェイ」は、世界的にも珍しい砂浜を車で走れるドライブウェイです。もちろん、砂浜を車で走れるのは、日本では「千里浜なぎさドライブウェイ」だけ。通行料無料で、全長8キロの砂浜をバイクで走ることができます。
  .spot-tag 
    ＃石川県羽昨市   ＃バイクで走れる砂浜  ＃サンドアート

.contents
  .spot-introduction
    .spot-phrase
      瀬戸内海を横断する海上のドライブウェイ！（しまなみ海道）
    .spot-prefecture
      広島県
  .spot-place
    .spot-image 
      =image_tag("spot-images/shimanamikaidou.jpg", class: "", size: "800x400")
    .spot-map 
      %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3297.5363867691935!2d133.08592591516756!3d34.26037181418075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35504e78467d1cc5%3A0x2de308f78ef0d5e3!2z6KW_54Cs5oi46Ieq5YuV6LuK6YGT!5e0!3m2!1sja!2sjp!4v1618174800832!5m2!1sja!2sjp", 
       style: "border:0;", tabindex: "0", width: "500"}
  .spot-description
    しまなみ海道は、本州（広島県尾道市）と四国（愛媛県今治市）を結ぶ瀬戸内海を横断する道路。美しい瀬戸内海や点在する島々を眺めながらのツーリングは、最高に気持ちが良いです。バイクツーリングではなく、自転車を借りてサイクリングを楽しむのもありです。しまなみ海道では、数か所で自由に相互乗り捨てができるレンタサイクルのターミナルがあるので、利用してみはいかかでしょうか。バイクとは違ったツーリングが楽しめそうです。

  .spot-tag 
    ＃広島県尾道市   ＃瀬戸内海  ＃因島水軍城

.contents
  .spot-introduction
    .spot-phrase
      世界遺産の地！北海道No1手つかずの自然が残る！（知床横断道路）
    .spot-prefecture
      北海道
  .spot-place
    .spot-image 
      =image_tag("spot-images/shiretokooudan.jpg", class: "", size: "800x400")
    .spot-map 
      %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "400", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11469.459120988415!2d145.0965759374457!3d44.055175636804385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f6cc1bf7fcaaf67%3A0xef033b64d90b0f04!2z55-l5bqK5bOg!5e0!3m2!1sja!2sjp!4v1618175229602!5m2!1sja!2sjp", 
       style: "border:0;", tabindex: "0", width: "500"}
  .spot-description
    知床を南北に横断する知床横断道路ではダイナミックなワインディングとウトロ側（北側）は迫り来る羅臼岳（標高約1661m)の迫力、羅臼側（南側）では遠くに国後島見ることが出来ます。知床道路から簡単にアクセスできる場所にあるオシンコシンの滝は手軽に楽しめるおすすめスポットです。

  .spot-tag 
    ＃北海道目梨郡   ＃オホーツク海  ＃オシンコシンの滝


%footer.footer
  .footer__top
    .top-contents
      .top-contents__word
        自然の中を走ろう
        %p 全国のおすすめツーリングスポット
  .footer__bottom
    .bottom-contents
      .bottom-contents__left-box
        .box-header
          rider roadについて
        %ul.box-content
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              会社概要(運営会社)
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              プライバシーポリシー
      .bottom-contents__center-box
        .box-header
          rider roadを見る
        %ul.box-content
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              都道府県一覧
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              おすすめ一覧
      .bottom-contents__right-box
        .box-header
          ヘルプ＆ガイド
        %ul.box-content
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              rider roadガイド
          %li.box-content__words
            =link_to "#", class:"footer-word" do
              お知らせ
    .bottom-items
      = link_to root_path do
        = image_tag("material/rider-road-logo.png",class: "bottom-items__logo")
      .bottom-items__word
        ©︎rider road